/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: black;
  background: #CFFb8f;
  width: 95%;
  margin: auto;
  border-radius: 20px;
  margin-top: 3rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* size: 3rem; */
  /* margin-right: 10rem; */
}

.hero__header {
  display: flex; /* Makes the header a flex container */
  align-items: center; /* Vertically aligns items in the center */
}

.hero__banner {
  margin-right: 10px; /* Adds spacing between the icon and the title */
}

.hero__title {
  display: flex;
  align-items: center; /* Ensures the title aligns vertically with the icon */
}
